<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <div class="wrap">
            <h1>{{ title }} Mailbox ({{ address }})</h1>
            <p>Content</p>

            <table class="wp-list-table widefat fixed striped pages">
                <thead>
                    <tr>
                        <td class="check-column"><input type="checkbox"></td>
                        <td>Sender</td>
                        <td>Brief</td>
                        <td>Received Date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Contents</td>
                        <td>Contents</td>
                        <td>Contents</td>
                    </tr>

                    <tr>
                        <td><input type="checkbox"></td>
                        <td>Contents</td>
                        <td>Contents</td>
                        <td>Contents</td>
                    </tr>
                <tbody>
            </table>
        <div>
    </body>
</html>