<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <div class="wrap">
            <h1>Configuration Error</h1>
            <h2>PHP IMAP is not enabled on your system.</h2>
            <p>Your current configuration does not allow the system to access the mail server, due to a server misconfiguration. Please contact the system administrator.</p>
        <div>
    </body>
</html>